In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df1 = pd.read_csv('seattle-weather.csv')
df2 = pd.read_csv('weather.csv', sep=',')

In [3]:
df1

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [8]:
df2

    City\tnearest_area__latitude\tnearest_area__longitude\tweather__hourly__UTCdate\tweather__hourly__UTCtime\tweather__mintempC\tweather__mintempF\tweather__uvIndex\tweather__hourly__time\t\t\tweather__hourly__tempC\tweather__hourly__tempF\tweather__hourly__windspeedMiles\tweather__hourly__windspeedKmph\tweather__hourly__winddirDegree\tweather__hourly__winddir16Point\tweather__hourly__weatherCode\tweather__hourly__weatherDesc__value\tweather__hourly__precipMM\tweather__hourly__humidity\tweather__hourly__visibility\tweather__hourly__pressure\tweather__hourly__cloudcover\tweather__hourly__HeatIndexC\tweather__hourly__HeatIndexF\tweather__hourly__DewPointC\tweather__hourly__DewPointF\tweather__hourly__WindChillC\tweather__hourly__WindChillF\tweather__hourly__WindGustMiles\tweather__hourly__WindGustKmph\tweather__hourly__FeelsLikeC\tweather__hourly__FeelsLikeF
0    London\t51.52\t-0.11\t2017-01-04\t00:00:00\t3\...
1    London\t51.52\t-0.11\t2017-01-04\t01:00:00\t3\...
2    London\t51.52\t-0.11\t2017-01-04\t02:00:00\t3\...
3    London\t51.52\t-0.11\t2017-01-04\t03:00:00\t3\...
4    London\t51.52\t-0.11\t2017-01-04\t04:00:00\t3\...
..                                                 ...
211  London\t51.52\t-0.11\t2012-12-01\t19:00:00\t-1...
212  London\t51.52\t-0.11\t2012-12-01\t20:00:00\t-1...
213  London\t51.52\t-0.11\t2012-12-01\t21:00:00\t-1...
214  London\t51.52\t-0.11\t2012-12-01\t22:00:00\t-1...
215  London\t51.52\t-0.11\t2012-12-01\t23:00:00\t-1...

[216 rows x 1 columns]